<h1>
    Biodata Arya Wiranata
</h1>
<br>
<br>
{{#if name.arya}}
<p>Nama: Arya Wiranata</p>
<p>NRP: 05111540000163</p>
{{!-- {{else if name.ichsan}}
<p>Nama: Ichsan Sandi Darmawan</p>
<p>NRP: 05111540000168</p>
{{else if name.adam}}
<p>Nama: Moh. Adam Alfian</p>
<p>NRP: 05111540007005</p> --}}
{{/if}}
<br>
<br>
<a class="btn btn-primary" href="/">Kembali</a>