<!DOCTYPE html>
<html>
    <head>
        <meta charset="uts-8">
    </head>
    <body>
        <h1>Daftar Anggota</h1>
        <p>
            <ul>
                <li>
                    <a href="anggota/arya">Arya Wiranata</a>
                </li>
                <li>
                    <a href="anggota/ichsan">Ichsan Sandi Darmawan</a>
                </li>
                <li>
                    <a href="anggota/adam">Moh Adam Alfian</a>
                </li>
            </ul>
        </p>
    </body>
</html>