<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <div class="fadeIn first">
      <h1>Biodata Anggota Kelompok 9</h1>
    </div>
    <br>
    <div id="formFooter">
      <a class="underlineHover nav-link" href="/arya">Arya Wiranata</a>
      <a class="underlineHover nav-link" href="/ichsan">Ichsan Sandi Darmawan</a>
      <a class="underlineHover nav-link" href="/adam">Moh. Adam Alfian</a>
    </div>
  </div>
</div>