<h1>
    Biodata Anggota Kelompok 9
</h1>
<br>
<br>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/arya">Arya Wiranata</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/ichsan">Ichsan Sandi Darmawan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/adam">Moh. Adam Alfian</a>
  </li>
</ul>